<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
            <ion-icon name="home"></ion-icon>
            <ion-label>HOME</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="cardapio">
            <ion-icon name="pizza"></ion-icon>
            <ion-label>CARDAPIO</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="contato">
            <ion-icon name="call"></ion-icon>
            <ion-label>CONTATO</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="login">
            <ion-icon name="contact"></ion-icon>
            <ion-label>LOGIN</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
