.main {
  padding-top: 5%;
}

.corpoCardapio {
  --backgroud: url("../../../assets/cardapio.svg") no-repeat center center/cover;
  text-align: center;
  --padding-top: 5%;
  --padding-start: 5%;
  --padding-end: 5%;
  --padding-bottom: 5%;
}

.vem {
  text-align: center;
}

.iconDetalhe {
  float: right;
  font-size: 1.5em;
}
ion-row {
  background: rgba(250, 184, 174, 0.5);
  padding: 2% 0 0 0;
}
ion-row:nth-child(even) {
  background: rgba(182, 181, 181, 0.5);
  padding: 2% 0 0 0;
}
