<h1 class="vem">CARDAPIO</h1>
<ion-content class="corpoCardapio">
    <ion-row
        class="servicoCardapio"
        *ngFor="let cardapio of cardapios"
    >

        <ion-col size="8">
            <h4>{{cardapio.nomeproduto}}</h4>
            <p>{{cardapio.descricao}}</p>
            <a href="#">
                <ion-icon
                    class="iconDetalhe"
                    name="arrow-dropright-circle"
                >
                </ion-icon>
            </a>
        </ion-col>

        <ion-col size="4">
            <img
                [src]="servidorUrl.pegarUrl()+cardapio.foto"
                alt="foto cardapio"
            >
        </ion-col>
    </ion-row>

</ion-content>
